<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Pokemon Fight</title>
</head>
<body>
    
    <nav>
        <a href="/">Back To All Games</a>
        <span>Pokemon Fight</span>
    </nav>



    <main>
        <div id="app">

            <div id="create-character" v-if="!gameRunning">
                <div class="form">
                    <h1>Create your character</h1>

                    <div class="form-group">
                        <label for="">Character Name</label>
                        <input type="text" v-model="characterData.characterName">
                    </div>
                    <div class="form-group">
                        <label for="">Character ImageURL</label>
                        <input type="text" v-model="characterData.imageURL">
                    </div>
                    <div class="form-group">
                        <label for="">Character Defence</label>
                        <input type="number" value="10" min="1" max="10" v-model="characterData.defence">
                    </div>
                    <div class="form-group">
                        <label for="">Character Attack</label>
                        <input type="number" value="10" min="1" max="10" v-model="characterData.attack">
                    </div>
                    <div class="button-group">
                        <button @click="createCharacter()">Create</button>
                    </div>
                </div>
            </div>

            <div id="game" v-if="gameRunning">
                <div class="players">
                    <div v-for="player of game.players" class="character">
                        <div class="thumbnail">
                            <img :src="player.imageURL" alt="">
                        </div>
                        <div class="health" v-bind:style="{ opacity: 100 - player.health + '%' }"></div>
                        <div class="stats">
                            <ul>
                                <li v-for="stat of player.getProps()">
                                    <span>{{stat.key}}</span>
                                    <span>{{stat.value}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="actions">
                    <button @click="startGame()">Exit</button>
                    <button @click="attack()">
                        <img src="./images/sword.png" alt="">
                    </button>
                    <button @click="restart()">Restart</button>
                </div>
            </div>


        </div>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./character.js"></script>
    <script src="./main.js"></script>
</body>
</html>