* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'pBtnOne counter cBtnOne'
        'pBtnTwo anim cBtnTwo'
        'pBtnThree restart cBtnThree';
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}
.btns {
    background-color: rgba(0, 0, 255, 0.5);
    border: 2px solid rgb(0, 0, 255, 0.6);
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    max-height: 300px;
    max-width: 300px;
}
.anim {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    max-height: 300px;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2rem;
}
.selected {
    background-color: rgba(0, 0, 255, 0.8);
}
.win {
    background-color: rgba(30, 255, 0, 0.6);
}
.draw {
    background-color: rgba(238, 255, 0, 0.2);
}
.lost {
    background-color: rgba(255, 0, 0, 0.6);
}
.rock {
    background-image: url(./assets/rpsRock.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.paper {
    background-image: url(./assets/rpsPaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.scissors {
    background-image: url(./assets/rpsScissors.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
#pBtnOne {
    grid-area: pBtnOne;
}
#pBtnTwo {
    grid-area: pBtnTwo;
}
#pBtnThree {
    grid-area: pBtnThree;
}
#counter {
    grid-area: counter;
    font-size: 3rem;
}
#anim {
    grid-area: anim;
}
#restart {
    grid-area: restart;
}
#cBtnOne {
    grid-area: cBtnOne;
}
#cBtnTwo {
    grid-area: cBtnTwo;
}
#cBtnThree {
    grid-area: cBtnThree;
}

.endGameEffectWin {
    color: darkgreen;
}
.endGameEffectLose {
    color: darkred;
}
